body {
    background-image: url("background.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no repeat;
    background-position: center;
    font-family: "Arial", sans-serif;
}

.logo {
    width: 30%;
    margin-top: 50px;
}

.hero {
    background-color: rgba(255, 20, 100, 0.5);
    color: white;    
    width: 70%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 8px;
}

.head {
    text-align: center;
    margin-top: -2px;
}

hr {
    height: 2.5px;
    border: none;
    background-color: white;
}

.box {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 0px;
    font-size: 1.5rem;
    color: #000000;
    font-weight: semi-bold;
}

.text {
    font-size: 1.8rem;
}

.fp {
    font-size: 1.8rem;
    color: #000000;
    text-align: right;
}

.btn {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 0px;
    margin-bottom: 4rem;    
}
